= form_for(:session, :url => session_path, :html => { :class => 'form-horizontal form-signin' }) do |form|    
  %h2.form-signin-heading Please sign in
  .form-group
    = form.email_field :email, :class => 'form-control', :placeholder => "Email address", :required => "", :type => "text"
  .form-group
    = form.password_field :password,:class => 'form-control', :placeholder => "Password", :required => "", :type => "password"
  .form-group
    = form.submit "Sign in", :class => 'btn btn-lg btn-primary btn-block'

  .other-links  
    = link_to t('.sign_up'), sign_up_path 
    |
    = link_to t('.forgot_password'), new_password_path   