%br
  .h3.col-lg-10.col-lg-offset-1.center Last step! Please fill out the information below and let us know why you are here today.
%br

.col-lg-6.col-lg-offset-3
  = form_for(@guest, :html => { :class => 'form-horizontal'}) do |f|
    = if @guest.errors.any?
      .error_explanation
        %h2
        = pluralize(@guest.errors.count, "error")

      %ul
      = @aha.errors.full_messages.each do |msg|
        %li
        = msg
    
    .form-group
      = f.label :name, "Name"
      = f.text_field :name, :class => 'form-control input-lg', :placeholder => 'Enter your first and last name ex: John Smith'

    .form-group
      = f.label :name, "Company Name"
      = f.text_field :name, :class => 'form-control input-lg', :placeholder => '1871'

    .form-group
      = f.label :email, "Email Address"
      = f.email_field :email, :class => 'form-control input-lg', :placeholder => 'johnsmith@gmail.com'

    .form-group
      = f.label :employee_name, "Other Reason"
      = f.text_field :employee_name, :class => 'form-control input-lg', :placeholder => 'kk'

    .form-group
      = f.hidden_field :organization_id, value: @organization_id   

    .form-group.center-buttons.span-3
      = f.submit 'Register', :class => 'btn btn-success btn-xlg'
    .form-group.center-buttons.span-3  
      = submit_tag 'Cancel', :type => :reset, :class => 'btn btn-default btn'