= simple_form_for(@guest, :html => { :class => 'form-horizontal' }) do |f| 
  .form-group
    = f.input :name, :input_html => { :class => 'form-control input-lg control-label' }, :hint => "Enter your first and last name", :placeholder => "ex: John Smith (Visitor Name)"
    = f.input :name, :input_html => { :class => 'form-control input-lg' }, :hint => "Enter your company name", :placeholder => "ex: 1871 // Visitor's Company Name (Can be blank)"
    = f.input :email, :input_html => { :class => 'form-control input-lg' }, :hint => "add your article title here", :placeholder => "ex: johnsmith@gmail.com (Visitor Email Address)"
    = f.input :employee_name, :input_html => { :class => 'form-control input-lg' }, :hint => "Who are you hear to see? Start typing their name", :placeholder => "ex: John Smith // Hosting Member"  
  .form-group
    = f.hidden_field :organization_id, value: @organization_id   
  .form-group.center-buttons.span-3 
    = f.submit 'Register', :class => 'btn btn-success btn-lg'
    = submit_tag 'Cancel', :type => :reset, :class => "btn btn-default btn-lg"