%br
  .h3.col-lg-10.col-lg-offset-1.center Last step! Please fill out the information below.

.col-lg-6.col-lg-offset-3.form-spacing
  = form_for(@guest, :html => { :class => 'form-horizontal'}) do |f|
    = if @guest.errors.any?
      .error_explanation
        %h2
        = pluralize(@guest.errors.count, "error")

      %ul
      = @guest.errors.full_messages.each do |msg|
        %li
        = msg
    
    .form-group
      =# f.label :name, "Name"
      = f.text_field :name, :class => 'form-control input-lg', :placeholder => 'First and Last Name', :required => "true"

    .form-group
      =# f.label :company, "Company Name"
      = f.text_field :company, :class => 'form-control input-lg', :placeholder => 'Guest Company Name (optional)'

    .form-group
      =# f.label :email, "Email Address"
      = f.email_field :email, :class => 'form-control input-lg', :placeholder => 'Guest Email Address (optional)'

    .form-group
      = f.hidden_field :organization_id, value: @organization_id
      = f.hidden_field :reason, value: 'Event' 

    .form-group.center-buttons.span-3
      = f.submit 'Register', :class => 'btn btn-success btn-xlg'
    .form-group.center-buttons.span-3  
      =# submit_tag 'Cancel', :type => :reset, :class => 'btn btn-default'