%br

  .h3.col-lg-10.col-lg-offset-1.center Let us know who you are meeting with and 
  .h3.col-lg-10.col-lg-offset-1.center they will be automatically notified of your arrival.

  .col-lg-6.col-lg-offset-3.form-spacing
    = form_for(@guest, :html => { :class => 'form-horizontal'}) do |f|
      = if @guest.errors.any?
        .error_explanation
          %h2
          = pluralize(@guest.errors.count, "error")

        %ul
        = @guest.errors.full_messages.each do |msg|
          %li
          = msg
      .form-group
      
        =# f.label :name, "Name"
        = f.text_field :name, :class => 'form-control input-lg', :placeholder => 'Your First and Last Name', :required => "true"

      .form-group
        =# f.label :company, "Company Name"
        = f.text_field :company, :class => 'form-control input-lg', :placeholder => 'Your Company Name (optional)'

      .form-group
        =# f.label :email, "Email Address"
        = f.email_field :email, :class => 'form-control input-lg', :placeholder => 'Your Email Address (optional)'

      .form-group 
        =# f.label :employee_name, "Hosting Member"
        / %span.status I'm here to see:
        %span.status#notify Start typing your host's name and select them from the available options
        = f.autocomplete_field :employee_name, autocomplete_employee_name_organization_guests_path, :id => 'employee_autocomplete', :class => 'form-control input-lg', :placeholder => 'Who are you here to see?', :required => "true"

        
      .form-group
        = f.hidden_field :employee_id
        = f.hidden_field :organization_id, value: @organization_id
        = f.hidden_field :reason, value: 'Meeting'      

      .form-group.center-buttons.span-3
        = f.submit 'Register', :class => 'btn btn-success btn-xlg', :id => 'registerButton'
      .form-group.center-buttons.span-3  
        =# submit_tag 'Cancel', :type => :reset, :class => 'btn btn-default form-cancel'