
#manual-guest-registration-model{ :class => 'model' }
  = form_for(Guest.new, :remote => 'true', :html => { "data-type" => :json}) do |f|
    %ul.errors

    .form-group
    
      =# f.label :name, "Name"
      %span.status Name
      = f.text_field :name, :class => 'form-control', :placeholder => 'Guest First and Last Name', :required => "true"

    .form-group
      =# f.label :company, "Company Name"
      %span.status Company
      = f.text_field :company, :class => 'form-control', :placeholder => 'Guest Company Name (optional)'

    .form-group
      =# f.label :email, "Email Address"
      %span.status Email
      = f.email_field :email, :class => 'form-control', :placeholder => 'Guest Email Address (optional)'

    .form-group
      =# f.label :email, "Mobile Number"
      %span.status Reason why mobile 
      = f.text_field :mobile_number, :class => 'form-control', :placeholder => 'Guest Mobile Phone Number (optional)'      

    .form-group
      %span.status Visit Reason
      %br
      .btn-group{"data-toggle" => "buttons"}
        %label.btn.btn-default
          %input#option1{name: "options", type: "radio"}/
          Meeting
        %label.btn.btn-default
          %input#option2{name: "options", type: "radio"}/
          Tour
        %label.btn.btn-default
          %input#option3{name: "options", type: "radio"}/
          Event  
        %label.btn.btn-default
          %input#option3{name: "options", type: "radio"}/
          Other


    %p  
    .form-group 
      =# f.label :employee_name, "Hosting Member"
      %span.status Hosting Member:
      = f.autocomplete_field :employee_name, autocomplete_employee_name_organization_guests_path, :id => 'employee_autocomplete', :class => 'form-control', :placeholder => 'Start Typing The Hosting Member Name (Autocomplete)', :required => "true"
      
      = f.hidden_field :reason, value: 'Meeting'  

    %p
    %p
    %p
    %br
    %br
    %br
    %br
    %br
    %br    

    .form-group
      = f.hidden_field :organization_id, value: @organization_id
           
    .modal-footer  
      %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
      = f.submit 'Register Guest', :class => 'btn btn-success', :id => 'registerButton' 
     