.page-header
  %h2 
    Dashboard - [Organization Name]
    .btn-group.pull-right
      %button.btn.btn-default.active{type: "button"} Today
      %button.btn.btn-default.disabled{type: "button"} Yesterday
      %button.btn.btn-default.disabled{type: "button"} Week
      %button.btn.btn-default.disabled{type: "button"} Month

.row
  .col-sm-6.col-md-3
    .jumbotron
      %h3.center Visitor Count
      %h1.center
        = @todays_guests.count

  .col-sm-6.col-md-3
    .jumbotron
      %h3.center Visitor Count
      %h1.center 75

  .col-sm-6.col-md-3
    .jumbotron
      %h3.center Notifications Sent
      %h1.center 150


  .col-sm-6.col-md-3
    .jumbotron
      %h3.center Minutes Saved
      %h1.center 75 

.clearfix

%br
%h3.panel.panel-default.panel-heading.center Today's Visitors

=will_paginate @guests, previous_label: h("Back"), next_label: h("Forward"), renderer: BootstrapPagination::Rails

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Company
      %th Email
      
      %th Hosting Member
      %th Visit Reason
      %th Date
      %th Time
      %th Actions

  %tbody
    - @todays_guests.each do |guest|
      %tr
        %td 
          = guest.name
        %td
          = guest.company  
        %td 
          = guest.email
        
        %td 
          = Employee.find(guest.employee_id).name
        %td
          = guest.reason 
        %td 
          = guest.created_at.in_time_zone.strftime("%b. %d\, %Y")
        %td 
          = guest.created_at.in_time_zone.strftime(" %I:%M %p")
        %td      
          %btn.btn-sm.btn-danger{:type => "button"} Delete
%br       


