.page-header
  %h2 
    Dashboard - 
    = current_user.organization.name
    .btn-group.pull-right
      %button.btn.btn-default.active{type: "button"} Today
      %button.btn.btn-default.disabled{type: "button"} Yesterday
      %button.btn.btn-default.disabled{type: "button"} Week
      %button.btn.btn-default.disabled{type: "button"} Month

.row
  .col-sm-6.col-md-4
    .jumbotron
      %h3.center Visitor Count
      %h1.center
        = @todays_guests.count

  .col-sm-6.col-md-4
    .jumbotron
      %h3.center Notifications Sent
      %h1.center X


  .col-sm-6.col-md-4
    .jumbotron
      %h3.center Minutes Saved
      %h1.center X

.clearfix

%br
%h3.panel.panel-default.panel-heading.center Today's Visitors

=will_paginate @guests, previous_label: h("Back"), next_label: h("Forward"), renderer: BootstrapPagination::Rails

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Company
      %th Email
      
      %th Hosting Member
      %th Visit Reason
      %th Date
      %th Time
      %th Delete

  %tbody
    - @todays_guests.each do |guest|
      %tr
        %td 
          = guest.name
        %td
          = guest.company  
        %td 
          = guest.email
        
        %td
          - if guest.employee 
            = Employee.find(guest.employee_id).name
          - else
            No employee
        %td
          = guest.reason 
        %td 
          = guest.created_at.in_time_zone.strftime("%b. %d\, %Y")
        %td 
          = guest.created_at.in_time_zone.strftime(" %I:%M %p")
        %td   
          = link_to image_tag('Trash_Can-128.png', :size => '16x16'), organization_guests_path(current_user.organization.id), :method => 'delete', :remote => true
          
          

          
%br       


