.page-header
  %h2 
    Dashboard - 
    = current_user.organization.name
    .button.btn.btn-custom-2.center{:type => "button", "data-target" => "#myModal", "data-toggle" => "modal"} Manual Guest Check In
    .btn-group.pull-right
      %button.btn.btn-default.active{type: "button"} Today
      %button.btn.btn-default.disabled{type: "button"} Yesterday
      %button.btn.btn-default.disabled{type: "button"} Week
      %button.btn.btn-default.disabled{type: "button"} Month

.row
  .col-sm-6.col-md-4
    .jumbotron
      %h3.center Visitor Count
      %h1.center
        = @todays_guests.count

  .col-sm-6.col-md-4
    .jumbotron
      %h3.center Notifications Sent
      %h1.center X


  .col-sm-6.col-md-4
    .jumbotron
      %h3.center Visitors Per Hour
      %h1.center X

.clearfix

%br
%h3.panel.panel-default.panel-heading.center Today's Visitors

=will_paginate @guests, previous_label: h("Back"), next_label: h("Forward"), renderer: BootstrapPagination::Rails

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Company
      %th Email
      
      %th Hosting Member
      %th Visit Reason
      %th Date
      %th Time
      %th Delete

  %tbody
    - @todays_guests.each do |guest|
      %tr
        %td 
          = guest.name
        %td
          = guest.company  
        %td 
          = guest.email
        
        %td
          - if guest.employee_id
            = Employee.find(guest.employee_id).name
          - else
            No employee
        %td
          = guest.reason 
        %td 
          = guest.created_at.in_time_zone.strftime("%b. %d\, %Y")
        %td 
          = guest.created_at.in_time_zone.strftime(" %I:%M %p")
        %td   
          = link_to image_tag('Trash_Can-128.png', :size => '16x16'), organization_guests_path(current_user.organization.id), :method => 'delete', :remote => true
          
          
/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Manual Visitor Registration
      .modal-body
        
        // Begin Form

        %form.form-horizontal{role: "form"}
          .form-group
            %label.col-sm-2.control-label{for: "inputEmail3"} Name
            .col-sm-10
              %input.form-control{placeholder: "Guest First and Last Name"}/
          .form-group
            %label.col-sm-2.control-label{for: "inputEmail3"} Company
            .col-sm-10
              %input.form-control{placeholder: "Guest Company"}/
          .form-group
            %label.col-sm-2.control-label{for: "inputEmail3"} Email
            .col-sm-10
              %input.form-control{placeholder: "Guest Email Address", type: "email"}/   
          .form-group
            %label.col-sm-2.control-label{for: "inputEmail3"} Mobile
            .col-sm-10
              %input.form-control{placeholder: "Guest Mobile Phone Number", type: "phone"}/   
          .form-group
            %label.col-sm-2.control-label{for: "inputPassword3"} Hosting Member
            .col-sm-10
              %input.form-control{placeholder: "Hosting Member"}/   
            %br
            %br
            %br       
        =# render :partial => 'form_model'


      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
        %button.btn.btn-success{type: "button"} Register Guest
    / /.modal-content
  / /.modal-dialog
/ /.modal
          
%br       


