%br
.col-lg-10.col-lg-offset-1.center
  %button.btn.btn-success{:type => "button", "data-target" => "#myModal", "data-toggle" => "modal"} 
    %i.fa.fa-user
    Manual Guest Check In
%br    
.page-header

  %h2 
    Dashboard - 
    = current_user.organization.name
    .btn-group.pull-right
      %button.btn.btn-default.active{type: "button", id: "todays_guests"} Today
      %button.btn.btn-default{type: "button", id: "yesterdays_guests"} Yesterday
      %button.btn.btn-default{type: "button", id: "weeks_guests"} Week
      %button.btn.btn-default{type: "button", id: "months_guests"} Month


// Start Javascript View based on button options

// Today's Visitor View

.row
  .col-sm-6.col-md-4
    .jumbotron
      %h3.center Visitor Count
      %h1.center
        .todays_guests
        = @todays_guests.count
        .yesterdays_guests
        = @yesterdays_guests.count
        .weeks_guests
        = @weeks_guests.count
        .months_guests
        = @months_guests.count

  .col-sm-6.col-md-4
    .jumbotron
      %h3.center Notifications Sent
      %h1.center
        .todays_guests
        = @todays_guests.where("email_notification_status = 'sent' OR text_notification_status = 'sent'").count
        .yesterdays_guests
        = @yesterdays_guests.where("email_notification_status = 'sent' OR text_notification_status = 'sent'").count
        .weeks_guests
        = @weeks_guests.where("email_notification_status = 'sent' OR text_notification_status = 'sent'").count
        .months_guests
        = @months_guests.where("email_notification_status = 'sent' OR text_notification_status = 'sent'").count     


  .col-sm-6.col-md-4
    .jumbotron
      %h3.center Visitors Per Hour
      %h1.center= (@todays_guests.count)/24

.clearfix

%p
%h3.panel.panel-default.panel-heading.center
  .todays_guests Today's Visitors
  .yesterdays_guests Yesterday's Visitors
  .weeks_guests This Week's Visitors
  .months_guests This Month's Visitors

=will_paginate @guests, previous_label: h("Back"), next_label: h("Forward"), renderer: BootstrapPagination::Rails

// Todays Table

%table.table.table-striped.table-hover.todays_guests
  %thead
    %tr
      %th Name
      %th Company
      %th Email
      %th Mobile
      %th Hosting Member
      %th Visit Reason
      %th Date
      %th Time
      %th Delete

  %tbody
    - @todays_guests.each do |guest|
      %tr
        %td 
          = guest.name
        %td
          = guest.company  
        %td 
          = guest.email
        %td
          = number_to_phone(guest.mobile_number, raise: true, delimiter: ".")
        %td
          = guest.hosting_member ? guest.hosting_member : "No Employee"
        %td
          = guest.reason 
        %td 
          = guest.created_at.in_time_zone.strftime("%b. %d\, %Y")
        %td 
          = guest.created_at.in_time_zone.strftime(" %I:%M %p")
        %td   
          = link_to organization_guest_path(current_user.organization.id, guest.id), :confirm => "Are you sure? Guest records shouldn't be deleted. Removing them is perminant and can not be undone.", :method => :delete do
            %i.fa.fa-times
          
// Yesterdays Table

%table.table.table-striped.table-hover.yesterdays_guests
  %thead
    %tr
      %th Name
      %th Company
      %th Email
      %th Mobile
      %th Hosting Member
      %th Visit Reason
      %th Date
      %th Time
      %th Delete

  %tbody
    - @yesterdays_guests.each do |guest|
      %tr
        %td 
          = guest.name
        %td
          = guest.company  
        %td 
          = guest.email
        %td
          = number_to_phone(guest.mobile_number, raise: true, delimiter: ".")
        %td
          = guest.hosting_member ? guest.hosting_member : "No Employee"
        %td
          = guest.reason 
        %td 
          = guest.created_at.in_time_zone.strftime("%b. %d\, %Y")
        %td 
          = guest.created_at.in_time_zone.strftime(" %I:%M %p")
        %td   
          = link_to organization_guest_path(current_user.organization.id, guest.id), :confirm => "Are you sure? Guest records shouldn't be deleted. Removing them is perminant and can not be undone.", :method => :delete do
            %i.fa.fa-times    

// Weeks Table

%table.table.table-striped.table-hover.weeks_guests
  %thead
    %tr
      %th Name
      %th Company
      %th Email
      %th Mobile
      %th Hosting Member
      %th Visit Reason
      %th Date
      %th Time
      %th Delete

  %tbody
    - @weeks_guests.each do |guest|
      %tr
        %td 
          = guest.name
        %td
          = guest.company  
        %td 
          = guest.email
        %td
          = number_to_phone(guest.mobile_number, raise: true, delimiter: ".")
        %td
          = guest.hosting_member ? guest.hosting_member : "No Employee"
        %td
          = guest.reason 
        %td 
          = guest.created_at.in_time_zone.strftime("%b. %d\, %Y")
        %td 
          = guest.created_at.in_time_zone.strftime(" %I:%M %p")
        %td   
          = link_to organization_guest_path(current_user.organization.id, guest.id), :confirm => "Are you sure? Guest records shouldn't be deleted. Removing them is perminant and can not be undone.", :method => :delete do
            %i.fa.fa-times

// Months Table

%table.table.table-striped.table-hover.months_guests
  %thead
    %tr
      %th Name
      %th Company
      %th Email
      %th Mobile
      %th Hosting Member
      %th Visit Reason
      %th Date
      %th Time
      %th Delete

  %tbody
    - @months_guests.each do |guest|
      %tr
        %td 
          = guest.name
        %td
          = guest.company  
        %td 
          = guest.email
        %td
          = number_to_phone(guest.mobile_number, raise: true, delimiter: ".")
        %td
          = guest.hosting_member ? guest.hosting_member : "No Employee"
        %td
          = guest.reason 
        %td 
          = guest.created_at.in_time_zone.strftime("%b. %d\, %Y")
        %td 
          = guest.created_at.in_time_zone.strftime(" %I:%M %p")
        %td   
          = link_to organization_guest_path(current_user.organization.id, guest.id), :confirm => "Are you sure? Guest records shouldn't be deleted. Removing them is perminant and can not be undone.", :method => :delete do
            %i.fa.fa-times                              
  
= link_to '<i class="fa fa-cloud-download"></i> Download all guest records (.csv)'.html_safe, url_for(:format => "csv"), :class => 'btn btn-default'    
%br
%br
%br 



// Visitor Check In Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Manual Visitor Registration
      .modal-body
        
        // Begin Form

        %form.form-horizontal{role: "form"}
          .form-group
            %label.col-sm-2.control-label{for: "inputEmail3"} Name
            .col-sm-10
              %input.form-control{placeholder: "Guest First and Last Name"}/
          .form-group
            %label.col-sm-2.control-label{for: "inputEmail3"} Company
            .col-sm-10
              %input.form-control{placeholder: "Guest Company"}/
          .form-group
            %label.col-sm-2.control-label{for: "inputEmail3"} Email
            .col-sm-10
              %input.form-control{placeholder: "Guest Email Address", type: "email"}/   
          .form-group
            %label.col-sm-2.control-label{for: "inputEmail3"} Mobile
            .col-sm-10
              %input.form-control{placeholder: "Guest Mobile Phone Number", type: "phone"}/   

              // Add collection_select for choosing the reason they are here

          .form-group
            %label.col-sm-2.control-label{for: "inputEmail3"} Reason
            .col-sm-10
              %select
                %option{value: "1"} Meeting
                %option{value: "2"} Tour
                %option{value: "3"} Event
                %option{value: "4"} Other  
              // Auto complete form would go active if it's for a meeting
          .form-group
            %label.col-sm-2.control-label{for: "inputPassword3"} Host
            .col-sm-10
              %input.form-control{placeholder: "Hosting Member"}/   
            %br
            %br
            %br       
        =# render :partial => 'form_model'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
        %button.btn.btn-success{type: "button"} Register Guest
    / /.modal-content
  / /.modal-dialog
/ /.modal
      


%br       


