.visitor-ui-form
  .row-fluid
    .organization-logo-container
      =image_tag("your_business_logo_here_small.png")
    .visitor-ui-home-icon
      %i.fa.fa-cog.icon-black

      
.row
  .btn-grid
    %br
      .h3 
        Welcome to 
        = current_user.organization.name
        What brings you in today?
    %br
    .form-navigation
      %a
        %button(type="submit" class="btn btn-primary btn-xxlg meeting-btn")
          %i.fa.fa-calendar.icon-white
          Meeting
      %a
        %button(type="submit" class="btn btn-primary btn-xxlg drop-in-btn")
          %i.fa.fa-user.icon-white
          Drop In    
      %a
        %button(type="submit" class="btn btn-primary btn-xxlg tour-btn")
          %i.fa.fa-location-arrow.icon-white
          Tour
      %a
        %button(type="submit" class="btn btn-primary btn-xxlg event-btn")
          %i.fa.fa-group.icon-white 
          Event
      %a
        %button(type="submit" class="btn btn-primary btn-xxlg info-btn")
          %i.fa.fa-info-circle.icon-white
          Information    
      %a
        %button(type="submit" class="btn btn-primary btn-xxlg other-btn")
          %i.fa.fa-question-circle.icon-white
          Other
    
	

.form-ui.form-meeting.group
  = render :partial => 'form_meeting'

.form-ui.form-dropin.group
  = render :partial => 'form_dropin'

.form-ui.form-event.group
  = render :partial => 'form_event'

.form-ui.form-tour.group
  = render :partial => 'form_tour'    

.form-ui.form-information.group
  = render :partial => 'form_information'

.form-ui.form-other.group
  = render :partial => 'form_other'

.form-ui.show-page-text.group
  = render :partial => 'confirmation'   

.row-fluid 
  .bottom-logo-container
    =image_tag("SignInEasyLogo-bottom.png")        


