= form_for @employee, :html => { :class => 'form-horizontal form-signin employee-crud-form' } do |f|

  .form-group
    = f.label :name, class: "col-sm-3 control-label"
    .col-sm-9
      = f.text_field :name , :class => 'form-control', :placeholder => "e.g John Smith", :required => "", :type => "text"
  .form-group
    = f.label :company, class: "col-sm-3 control-label"
    .col-sm-9
      = f.text_field :company , :class => 'form-control', :placeholder => "e.g. Google", :required => "", :type => "text"
  .form-group
    = f.label :email, class: "col-sm-3 control-label"
    .col-sm-9
      = f.text_field :email , :class => 'form-control', :placeholder => "e.g. them@theircompany.com", :required => "", :type => "text"
  .form-group
    = f.label :phone, class: "col-sm-3 control-label"
    .col-sm-9
      = f.text_field :phone , :class => 'form-control', :placeholder => "e.g. 1112223333", :required => "", :type => "text"

  = f.hidden_field :organization_id, value: current_user.organization.id 
  .form-group
    .col-sm-3
    .col-sm-9
      = f.label :allow_email, class: "checkbox-inline"
      = f.check_box :allow_email, :type => "checkbox"
      = f.label :allow_text, class: "checkbox-inline"
      = f.check_box :allow_text, :type => "checkbox"
  .form-group
    .col-sm-3
    .col-sm-9
      = f.submit :class => 'btn btn-lg btn-primary btn-block'