
%h3 
  Members at
  = @organization.name

%hr

=will_paginate @employees, previous_label: h("Back"), next_label: h("Forward"), renderer: BootstrapPagination::Rails

%table.table.table-striped
  %thead
    %th Name
    %th Company
    %th Email
    %th Phone
    %th Allow Email
    %th Allow Text
    %th Edit
    %th Destroy
  %tbody
    -@employees.each do |employee| 
      %tr
        %td= employee.name
        %td= employee.company    
        %td= employee.email
        %td= employee.try(:phone)
        %td= employee.allow_email
        %td= employee.allow_text
        %td
          = link_to edit_organization_employee_path(current_user.organization.id, employee.id) do
            %i.fa.fa-pencil-square-o
        %td
          = link_to organization_employee_path(current_user.organization.id, employee.id), :confirm => "are you sure?", :method => :delete do
            %i.fa.fa-times

%p= link_to "<i class='fa fa-user'></i> Add Employee".html_safe, new_organization_employee_path(@organization.id), :class => 'btn btn-default', remote: true, id: "new_employee_link"

%p= link_to "<i class='fa fa-cloud-upload'></i> Upload Employees via CSV".html_safe, import_form_organization_employees_path(@organization.id), :class => 'btn btn-default', remote: true, id: "import_link"
