Organizations Name: <%= @organization.name %>
<br/>
Admin: <%= User.find_by_id(@organization.admin_id).email %>
<br/>
<br/>
<%= link_to "Open Guest Sign-In", new_organization_guest_path(@organization.id)  %>
<br/>
<br/>
<ul>
  <% @organization.guests.each do |guest| %> 
    <li><%= guest.name %> 
        <br/>
        <%= guest.email %> 
    </li>
    <br/>
  <% end %>
</ul>