Organizations Name: 
= @organization.name 
%br
Admin: 
= User.find_by_id(@organization.admin_id) #removed .email appended to this due to error
%br

/ visitors information

.page-header
  %h1 Visitors

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Email
      %th Another Data Point
      %th Another Data Point
      %th Visiting Reason
      %th Date
      %th Time
      %th 
      %th Show
      %th Delete

  %tbody
    - @organization.guests.each do |guest|
      %tr
        %td 
          = guest.name
        %td 
          = guest.email
        %td
        %td  
        %td 
        %td 
          = guest.created_at.strftime("%b. %d\, %Y")
        %td 
          = guest.created_at.in_time_zone.strftime(" %I:%M %p")
        %td
        %td
        %td
%hr

%br

.page-header
  %h1 Members

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Email
      %th Phone
      %th Company
      %th Data Point 1
      %th Data Point 2
      %th Data Point 3
      %th 
      %th Show
      %th Delete

  %tbody
    - @organization.employees.each do |employee|
      %tr
        %td 
          =#
        %td 
          =#
        %td
        %td  
        %td 
        %td 
          =# guest.created_at.strftime("%b. %d\, %Y")
        %td 
          =# guest.created_at.in_time_zone.strftime(" %I:%M %p")
        %td
        %td
        %td
%hr

%br

.page-header
  %h1 Companies

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Email
      %th Phone
      %th Company
      %th Data Point 1
      %th Data Point 2
      %th Data Point 3
      %th 
      %th Show
      %th Delete

  %tbody
    - @organization.employees.each do |employee|
      %tr
        %td 
          =#
        %td 
          =#
        %td
        %td  
        %td 
        %td 
          =# guest.created_at.strftime("%b. %d\, %Y")
        %td 
          =# guest.created_at.in_time_zone.strftime(" %I:%M %p")
        %td
        %td
        %td
%hr