Organizations Name: <%= @organization.name %>
<br/>
Admin: <%= User.find_by_id(@organization.admin_id).email %>
<br/>
<br/>
<%= link_to "Open Guest Sign-In", new_organization_guest_path(@organization.id)  %>
<%= link_to "Open Member Directory", organization_member_directory_path(@organization.id) %>
<br/>
<br/>

<h3> Guests Log: </h3>
<ul>
  <% @organization.guests.each do |guest| %> 
    <li><%= guest.name %> 
        <br/>
        <%= guest.email %> 
    </li>
    <br/>
  <% end %>
</ul>

<h3> Employees In The Space: </h3>
<ul>
  <% @organization.employees.each do |employee| %>
    <li>
      <%= employee.name %> <br/>
      <%= employee.email %> | <%= employee.phone %> <br/>
      <%= employee.company %>
    </li>
  <% end %>
</ul>