<!DOCTYPE html>
%html
%head
  = javascript_include_tag 'application' 
  = csrf_meta_tag 
  = stylesheet_link_tag 'application' 
%body
  #header
    -if signed_in?
      = link_to t('.sign_out'), sign_out_path, :method => :delete  
      |
      = link_to "Your user page", user_path(current_user.id) 
    -else
      = link_to t('.sign_in'), sign_in_path 
    -end

  #flash
    -flash.each do |key, value|
      =key
      %br
      =value
    -end 

  = yield
